<div class="flex justify-content-center flex-wrap align-items-center h-screen">
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
        <pre>{{loginForm.value | json}}</pre>
        <h1>Inicio de sesión</h1>
        <div class="flex flex-column gap-2">
            <label for="user">Usuario</label>
            <input id="user" type="text" formControlName="user" pInputText placeholder="Usuario"
                [ngClass]="{'ng-invalid ng-dirty': userGet?.errors && userGet?.touched}" />
            <small id="user-error" *ngIf="userGet?.errors && userGet?.touched" class="setError">Usuario
                requerido</small>
        </div>

        <div class="flex flex-column gap-2 pt-2">
            <label for="password">Contraseña</label>
            <input id="password" type="text" formControlName="password" pInputText placeholder="Contraseña"
                [ngClass]="{'ng-invalid ng-dirty': passwordGet?.errors && passwordGet?.touched}" />
            <small id="password-error" *ngIf="passwordGet?.errors && passwordGet?.touched" class="setError">Contraseña
                requerido</small>
        </div>

        <div class="flex flex-column">
            <p-button icon="pi pi-sign-in" label="Iniciar sesión" class="pt-5" (onClick)="login()"></p-button>
        </div>
    </form>

    <pre>{{this.users | json}}</pre>
</div>